@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <section>
        <label class="label">Country *</label>
        <label class="input">
            <select class="form-control" data-bind="options: allCountries,
                                    optionsText: 'description',
                                    value: selectedCountry,
                                    optionsCaption: 'Choose...'" required></select>
        </label>
        <button data-bind="click: load">Load data</button>

    </section>
</div>
@section Scripts{

    @Scripts.Render("~/bundles/typescriptinterfaces")


    <script data-main="/Scripts/app/Countries/country.Start" src="~/Scripts/require.js"></script>
}

<script></script>